<mat-card>
  <h1>Datos Generales</h1>
  <div class="decoration"></div>
  <mat-card-content style="height: 200px;">

    <form *ngIf="personaForm" [formGroup]="personaForm" #formDir="ngForm">

      <div [hidden]="formDir.submitted">

        <div class="cross-validation"
          [class.cross-validation-error]="personaForm.errors?.identityRevealed && (personaForm.touched || personaForm.dirty)">

          <div class="form-group col-xs-4 col-md-4">
            <label for="name">Nombre</label>
            <input [(ngModel)]="persona.nombre"  id="name" class="form-control" formControlName="name" required placeholder="Nombre...">

            <div *ngIf="nameCtrl.invalid && (nameCtrl.dirty || nameCtrl.touched)" class="alert alert-danger">
              <div *ngIf="nameCtrl.errors.required">
                Nombre es requerido.
              </div>
              <div *ngIf="nameCtrl.errors.minlength">
                Nombre debe tener al menos 3 caracteres de largo.
              </div>
              <div *ngIf="nameCtrl.errors.maxlength">
                Nombre no puede tener más de 20 caracteres de largo.
              </div>
            </div>
          </div>

          <div class="form-group col-xs-4 col-md-4">
            <label for="lastName">Apellido</label>
            <input [(ngModel)]="persona.apellido" id="lastName" class="form-control" formControlName="lastName" required placeholder="Apellido...">

            <div *ngIf="lastNameCtrl.invalid && (lastNameCtrl.dirty || lastNameCtrl.touched)"
              class="alert alert-danger">
              <div *ngIf="lastNameCtrl.errors.required">
                Apellido es requerido.
              </div>
              <div *ngIf="lastNameCtrl.errors.minlength">
                Apellido debe tener al menos 3 caracteres de largo.
              </div>
              <div *ngIf="lastNameCtrl.errors.maxlength">
                Apellido no puede tener más de 20 caracteres de largo.
              </div>
            </div>
          </div>

          <div class="form-group col-xs-4 col-md-4">
            <label for="documentNumber">Número Documento</label>
            <input [(ngModel)]="persona.numeroDocumento" appNumberOnly id="documentNumber" class="form-control" formControlName="documentNumber" required
              placeholder="Número Documento...">

            <div *ngIf="documentNumberCtrl.invalid && (documentNumberCtrl.dirty || documentNumberCtrl.touched)"
              class="alert alert-danger">
              <div *ngIf="documentNumberCtrl.errors.required">
                Número Documento es requerido.
              </div>
              <div *ngIf="documentNumberCtrl.errors.minlength">
                Número Documento debe tener al menos 10 caracteres de largo.
              </div>
              <div *ngIf="documentNumberCtrl.errors.maxlength">
                Número de Documento no puede tener más de 15 caracteres de largo.
              </div>
            </div>
          </div>

          <div class="form-group col-xs-4 col-md-4">
            <label for="documentType">Tipo Documento</label>

            <select [(ngModel)]="persona.tipoDocumento" class="form-control" formControlName="documentType" required>
              <option disabled selected value="">
                Seleccione...</option>

              <option *ngFor="let tipoDocumento of tipoDocumentos  | async" [value]="tipoDocumento.descripcion">
                {{tipoDocumento.descripcion}}</option>
            </select>

            <div *ngIf="tipoCtrl.invalid && tipoCtrl.touched" class="alert alert-danger">
              <div *ngIf="tipoCtrl.errors.required">Tipo Documento es requerido.</div>
            </div>
          </div>

          <div class="form-group col-xs-4 col-md-4">
            <label for="birthDate">Fecha Nacimiento</label>
            <input [(ngModel)]="persona.fechaNacimiento" #myDateInput type="date" max="2013-12-31" id="birthDate" class="form-control"
              formControlName="birthDate" required>


            <div *ngIf="birthDateCtrl.invalid && birthDateCtrl.touched" class="alert alert-danger">
              <div *ngIf="birthDateCtrl.errors.required">Fecha Nacimiento es requerida.</div>
            </div>
          </div>



        </div>
        <div class="flex-div col-xs-12 col-md-12">
          <div class="btn-group" role="group">
            <button type="button" class="btn  btn-primary" (click)="goHome()">
              <span class="glyphicon glyphicon-arrow-left"></span> Volver
            </button>
          </div>

          <div class="btn-group" role="group">
            <button (click)="guardar()" type="button" class="btn btn-success " [disabled]="personaForm.invalid">
              <span class="glyphicon glyphicon-floppy-saved"></span> Guardar
            </button>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>