table {
  width: 100%;
}

.custom-img-width{
  width: 30px;
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

a{
  cursor: pointer;
}



.btn-float-right{
  float: right;
}


